<Files "package-lock.json">
	Require all denied
</Files>

<Files "package.json">
	Require all denied
</Files>

<Files "README.md">
	Require all denied
</Files>

<Files "readme.txt">
	Require all denied
</Files>

<FilesMatch "^\.">
	Redirect 404
</FilesMatch>

<FilesMatch "\.disabled$">
	Redirect 404
</FilesMatch>

<FilesMatch "\.config\.js$">
	Redirect 404
</FilesMatch>

# The following is for use in WordPress themes since the PHP files are not
# intended to be accessed directly.
<FilesMatch "\.php$">
	Redirect 404
</FilesMatch>

<FilesMatch "\.scss$">
	Redirect 404
</FilesMatch>
