/* .site-header {
	padding: 1rem;
} */

/* .site-header__main {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
} */

/* .site-footer {
	padding: 1rem;
} */

/**
 * 6.0 - Navigation
 */

/**
 * 6.1 - Links
 */

/**
 * 6.2 - Menus
 */

/* .site-header__menu {
	display: none;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
}

.site-header__menu.toggled-on,
.no-js .site-header__menu {
	display: block;
}

.navigation--primary ul {
	list-style: none;
	margin: 0;
}

.navigation--primary li {
	position: relative;
}

.navigation--primary a {
	display: block;
}

.navigation--primary ul ul {
	display: none;
}

.no-js .navigation--primary ul ul {
	display: block;
}

.navigation--primary ul .toggled-on {
	display: block;
}

.dropdown-toggle {
	position: absolute;
	right: 0;
	top: 0;
}

.navigation--social ul {
	list-style: none;
	margin: 0;
}

.navigation--social li {
	float: left;
}

.navigation--social a {
	display: block;
	position: relative;
} */

/*
.pagination .nav-links {
	position: relative;
}

.pagination .nav-links:before,
.pagination .nav-links:after {
	position: absolute;
	z-index: 1;
} */

/* reset sr-only */
/* .pagination .current .sr-only {
	position: static !important;
}

.pagination .page-numbers {
	display: none;
}

.pagination .current {
	display: inline-block;
}

.pagination .prev,
.pagination .next {
	position: absolute;
	z-index: 2;
}

.navigation--attachments .nav-previous:not(:empty),
.navigation--attachments .nav-next:not(:empty) {
	display: inline-block;
}

.navigation--attachments .nav-previous:not(:empty) + .nav-next:not(:empty):before {
	display: inline-block;
} */


/**
 * 7.0 - Accessibility
 */


/**
 * 11.0 - Content
 */

/**
 * 11.1 - Header
 */

/* .no-js .navbar-toggler {
	display: none;
} */

/**
 * 11.2 - Posts and pages
 */

/* .featured-image {
	display: block;
} */

/**
 * IE8 and earlier will drop any block with CSS3 selectors.
 * Do not combine these styles with the next block.
 */
/* .updated:not(.published) {
	display: none;
} */

/**
 * 11.3 - Post Formats
 */


/**
 * 11.4 - Comments
 */

/* .comment-metadata .link--edit,
.pingback .link--edit {
	display: inline-block;
} */

/**
 * 11.5 - Sidebar
 */


/**
 * 11.6 - Footer
 */


/**
 * 12.0 - Media
 */


/**
 * 12.2 - Galleries
 */

@import 'gallery';
