/**
 | Navigation:
 ============================================================================ */

@import 'navigation--site--primary';
@import 'navigation--social--primary';

/*
.pagination .nav-links {
	position: relative;
}

.pagination .nav-links:before,
.pagination .nav-links:after {
	position: absolute;
	z-index: 1;
}
*/

// reset sr-only
/*
.pagination .current .sr-only {
	position: static !important;
}

.pagination .page-numbers {
	display: none;
}

.pagination .current {
	display: inline-block;
}

.pagination .prev,
.pagination .next {
	position: absolute;
	z-index: 2;
}

.navigation--attachments .nav-previous:not(:empty),
.navigation--attachments .nav-next:not(:empty) {
	display: inline-block;
}

.navigation--attachments .nav-previous:not(:empty) + .nav-next:not(:empty):before {
	display: inline-block;
}
*/
