/**
 | Social Media Navigation Component:
 ============================================================================ */

.navigation--social--primary ul {
	list-style: none;
	margin: 0;
}

.navigation--social--primary li {
	float: left;
}

.navigation--social--primary a {
	display: block;
	position: relative;
}
