/**
 | Social Media Navigation Component:
 ============================================================================ */

.navigation--social ul {
	list-style: none;
	margin: 0;
}

.navigation--social li {
	float: left;
}

.navigation--social a {
	display: block;
	position: relative;
}
