/**
 | Site Header Component:
 ============================================================================ */

/*
.dropdown-toggle {
	position: absolute;
	right: 0;
	top: 0;
}
*/

/* .no-js .navbar-toggler {
	display: none;
} */

/* .site-header {
	padding: 1rem;
} */

/* .site-header__main {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
} */

/* .site-header__menu {
	display: none;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
}

.site-header__menu.toggled-on,
.no-js .site-header__menu {
	display: block;
}
*/
